Question 1: Using EVregistry, Write a query to select the ModelYear, Make, and Model off all of the vehicles in the registry.

SELECT ModelYear, Make, Model

FROM EVRegistry

Question 2: Using the EVRegistry table, Write a query that lists all of the unique types of EV's. your reult set should have one column, ElectricVehicleType.

SELECT DISTINCT ElectricVehicleType

FROM EVRegistry

Question 3: Using the EVRegistry, Write a query that shows all of the information on Battery Electric Vehicles (BEV) that are in the registry.

SELECT ElectricVehicleType

FROM EVRegistry

WHERE ElectricVehicleType = 'Battery Electric Vehicle (BEV)'

Question 4: Using the EVRegistry, wirte a query that returns the Make and Model of all of the EV's that have a BaseMSRP between 20000 and 35000?

SELECT MAKE, MODEL

FROM EVRegistry

WHERE BaseMSRP BETWEEN 20000 AND 35000

Question 1: Using EVRegistry, write a query to find a record where the City attribute is NULL. Return all of the available columns.

SELECT *

FROM EVRegistry

WHERE City IS NULL

Question 2: Write a query to find the make, model, and ElectricVehicleType where the VIN number has that ends in '3E1EA1J'.

SELECT Make, Model,	ElectricVehicleType

FROM EVRegistry

WHERE VIN LIKE '%3E1EA1J'

Question 3: Select the ModelYear, make, model, ElectricVehicleType, and range of the Tesla vehicles or cheverolet vehicles in the registry. Order the result set by Make and Model year in from newest to oldest.

SELECT ModelYear, Make, Model, ElectricVehicleType, ElectricRange

FROM EVRegistry

WHERE Make IS 'TESLA' OR 'CHEVROLET'

ORDER BY ModelYear DESC

Question 4: Using EVCharging, Write a query to find out how many many times those stations were used. Order them by the most used to the least used and limit the output to 5 records.

SELECT StationID, Count(*) as numUses

FROM EVCharging

GROUP BY StationID 

ORDER BY stationId DESC

LIMIT 5

Question 5: Using EVCharging, For the folks who charged longer than 0.5 hours, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively.

SELECT MIN(chargeTimeHrs) as 'minTime', MAX(chargeTimeHrs) as 'maxTime', userId

FROM EVCharging

WHERE chargeTimeHrs > .5

GROUP BY userId

ORDER BY 2, 3

Question 1: Using EVCharging, Which day of the week has the highest average charging time? Round the answer to 2 decimal points.

SELECT Weekday, ROUND(avg(chargeTimeHrs),2) as 'Highest AVG Charge Time'

FROM EVcharging

group by weekday

order by avg(chargeTimeHrs) DESC

Question 2: Using, EV charging, Find the total power consumed from charging EV's by each User. Return the userId and name the calculated column, totalPower. Round the answer to 2 deciaml points and list the out put in highest to lowest order. Limit the order to the top 15 users.

SELECT UserId, ROUND(SUM(kwhTotal),2) as 'totalPower'

FROM EVcharging

GROUP BY userId

ORDER BY totalpower DESC

LIMIT 15

Question 3: Using dimfacility and factCharge, write a query to find out which type of facility (GROUP BY) has the most amount of charging stations. Return type Facility and name the calculated column numStation. Order the result set from highest to lowest number of charging stations.

SELECT df.typeFacility, COUNT(DISTINCT fc.stationID) as 'numStation'

FROM factCharge fc

INNER JOIN dimFacility df 

ON fc.facilityID = df.FacilityKey

GROUP BY 1

ORDER BY 2 DESC

Question 4: In your own words, Briefly explain Primary Keys and Foreign Keys.

The primary key is how we can find every value in the table. They are how you can put tables together. 

The Foreign Key is a bookmark to reference the primary key in another table but cannot overtake the primary key.

Question 5: Using EV Charging, For the folks who charged longer than one hour, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively.

SELECT userId, MIN(chargeTimeHrs) as 'minTime', MAX(chargeTimeHrs) as 'maxTime'

FROM EVCharging

GROUP BY userId

HAVING minTime > 1

ORDER BY 2,3 DESC;